<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="script.js"></script>
</head>

<body ng-app='myapp' ng-controller='mycontroller'>
    <div class="jumbotron jumbotron-fluid pb-1">

        <div class="container">
            <h1 class='text-center mb-4'>List Of Employees</h1>
           
         </div>
       
         <centre>
         <ol>
             <li ng-repeat="x in alldata" ng-click="selectEmp(x)" class="clickable">{{x.name}}</li>
         </ol>
        </centre>

    </div>




</body>

</html>